streamlit>=1.32.0
loguru>=0.7.2
openai>=1.12.0
python-dotenv>=1.0.0
pydantic>=2.6.3
agentops==0.1.5
aiohttp>=3.9.3
pillow>=10.2.0
pytest>=8.0.0
requests>=2.31.0
python-multipart>=0.0.9
fastapi>=0.109.0
uvicorn>=0.27.0
beautifulsoup4>=4.12.0
tenacity>=8.2.0
pytesseract>=0.3.10